<!-- <header>
    <nav>
      <h1>My Application</h1>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Store</a></li>
      </ul>
    </nav>


    

  </header> -->
  
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <!-- <p class="navbar-brand" href="#">My Store</p> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/info">About</a>
          </li>
  
        </ul>
       
      </div>
    </div>
  </nav>

  